<app-admin-nav></app-admin-nav>

<div class="container-fluid mt-3">

  <table class="table table-sm table-responsive table-striped mt-3 text-nowrap">
    <thead>
    <tr>
      <th>
        <div>
          <a (click)="cycleSort('code')">
            Code
            <i *ngIf="sort === 'code' && direction === 'asc'" class="fa fa-sort-up"></i>
            <i *ngIf="sort === 'code' && direction === 'desc'" class="fa fa-sort-down"></i>
          </a>
        </div>
        <div>
          <input
            (input)="filterCode($event.target.value)"
            (focus)="$event.target.select()"
            type="text"
            class="form-control form-control-sm"
          >
        </div>
      </th>
      <th>
        <div>
          <a (click)="cycleSort('name')">
            Name
            <i *ngIf="sort === 'name' && direction === 'asc'" class="fa fa-sort-up"></i>
            <i *ngIf="sort === 'name' && direction === 'desc'" class="fa fa-sort-down"></i>
          </a>
        </div>
        <div>
          <input
            (input)="filterName($event.target.value)"
            (focus)="$event.target.select()"
            type="text"
            class="form-control form-control-sm"
          >
        </div>
      </th>
      <th>
        <div>
          <a (click)="cycleSort('mail')">
            E-Mail
            <i *ngIf="sort === 'mail' && direction === 'asc'" class="fa fa-sort-up"></i>
            <i *ngIf="sort === 'mail' && direction === 'desc'" class="fa fa-sort-down"></i>
          </a>
        </div>
        <div>
          <input
            (input)="filterMail($event.target.value)"
            (focus)="$event.target.select()"
            type="text"
            class="form-control form-control-sm"
          >
        </div>
      </th>
      <th>
        <div>
          <a (click)="cycleSort('status')">
            Status
            <i *ngIf="sort === 'status' && direction === 'asc'" class="fa fa-sort-up"></i>
            <i *ngIf="sort === 'status' && direction === 'desc'" class="fa fa-sort-down"></i>
          </a>
        </div>
        <div>
          <input
            (input)="filterStatus($event.target.value)"
            (focus)="$event.target.select()"
            type="text"
            class="form-control form-control-sm"
          >
        </div>
      </th>
      <th>
        <a (click)="cycleSort('checkedIn')">
          Checked in
          <i *ngIf="sort === 'checkedIn' && direction === 'asc'" class="fa fa-sort-up"></i>
          <i *ngIf="sort === 'checkedIn' && direction === 'desc'" class="fa fa-sort-down"></i>
        </a>
      </th>
      <th class="text-right">Card</th>
      <th class="text-center">
        <a (click)="cycleSort('balance')">
          Balance
          <i *ngIf="sort === 'balance' && direction === 'asc'" class="fa fa-sort-up"></i>
          <i *ngIf="sort === 'balance' && direction === 'desc'" class="fa fa-sort-down"></i>
        </a>
      </th>
      <th class="text-center">
        <a (click)="cycleSort('bonus')">
          Bonus
          <i *ngIf="sort === 'bonus' && direction === 'asc'" class="fa fa-sort-up"></i>
          <i *ngIf="sort === 'bonus' && direction === 'desc'" class="fa fa-sort-down"></i>
        </a>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let guest of guests">
      <td>
        {{guest.code}}
      </td>
      <td>
        {{guest.name}}
      </td>
      <td>
        {{guest.mail}}
      </td>
      <td>
        {{guest.status}}
      </td>
      <td>
        {{guest.checkedIn ? guest.checkedIn.toLocaleTimeString() : ''}}
      </td>
      <td class="text-right">
        {{guest.card}}
      </td>

      <td>

        <div class="d-flex value-control ml-auto">
          <button (click)="subBalance(guest)" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-minus"></i>
          </button>

          <input id="balanceInput" disabled
                 class="disabled form-control form-control-sm d-inline-block flex-grow-1 text-center value-display"
                 [value]="guest.balance | number:'1.2-2'"
          >

          <button (click)="addBalance(guest)" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-plus"></i>
          </button>
        </div>

      </td>

      <td>

        <div class="d-flex value-control ml-auto">
          <button (click)="subBonus(guest)" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-minus"></i>
          </button>

          <input id="bonusInput" disabled
                 class="disabled form-control form-control-sm d-inline-block flex-grow-1 text-center value-display"
                 [value]="guest.bonus | number:'1.2-2'"
          >

          <button (click)="addBonus(guest)" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-plus"></i>
          </button>
        </div>

      </td>
    </tr>

    </tbody>
  </table>

  <ngb-pagination (pageChange)="changePage($event)" [collectionSize]="guestsTotal" [(page)]="page"
                  [pageSize]="PAGE_SIZE"
                  maxSize="10" rotate="true"></ngb-pagination>
  {{guestsTotal}} guests found.

  <app-message class="message-800 mx-auto"></app-message>

</div>

<app-navbar></app-navbar>
