<div class="modal-body mx-4 my-3 p-0">

  <div class="form-group">
    <label *ngIf="!guest" for="searchInput">Search by</label>
    <label *ngIf="guest" for="searchInput">Guest</label>

    <div *ngIf="!guest" ngbRadioGroup [(ngModel)]="searchField" (change)="search(searchInput.value)">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="code" (focus)="searchInput.focus()">
        Code
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="name" (focus)="searchInput.focus()">
        Name
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="mail" (focus)="searchInput.focus()">
        Mail
      </label>
    </div>

    <div class="btn-group w-100">
      <input
        #searchInput
        (input)="search($event.target.value)"
        id="searchInput"
        type="text"
        class="form-control"
      >
      <span
        *ngIf="searchInput.value"
        (click)="clearGuest(guest)"
        class="fa fa-close fa-lg clear-input p-2 m-auto"
      ></span>
    </div>

    <div ngbDropdown [open]="true" [autoClose]="false">
      <div ngbDropdownMenu *ngIf="results.length > 0 && !guest" class="dropdown-menu">
        <button
          *ngFor="let guest of results"
          (focus)="$event.target.blur()"
          (click)="lockGuest(guest)"
          type="button"
          class="dropdown-item"
        >
          {{guest.code}} {{guest.name}} &lt;{{guest.mail}}&gt;
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="guest" class="form-group">
    <label for="statusInput">Status</label>
    <input
      id="statusInput"
      disabled
      class="disabled form-control text-center flex-grow-1"
      [style.background-color]="status.color"
      [class.dark-bg]="isDarkBackground(status.color)"
      [value]="status.displayName"
    >
  </div>

  <button
    (focus)="$event.target.blur()"
    (click)="checkIn()"
    type="button"
    [disabled]="!guest || guest.checkedIn != null"
    [class.disabled]="!guest || guest.checkedIn != null"
    class="btn btn-block btn-primary mb-3"
  >
    {{ guest && guest.checkedIn != null ? 'Checked in at ' + guest.checkedIn.toLocaleTimeString() : 'Check in' }}
  </button>

  <div *ngIf="guest && guest.checkedIn != null">

    <div class="form-group">
      <label for="cardButton">Card (optional)</label>
      <button
        (focus)="$event.target.blur()"
        (click)="setCard()"
        id="cardButton"
        type="button"
        class="btn btn-block btn-primary"
      >
        {{guest.card ? guest.card : '-'}}
      </button>
    </div>


    <div *ngIf="hasRole(['RECHARGE'])" class="form-group">

      <label for="balanceInput">Balance (requires card)</label>

      <div class="d-flex">
        <button
          (focus)="$event.target.blur()"
          (click)="subBalance()"
          type="button"
          class="btn btn-primary"
          [disabled]="!guest.card"
          [class.disabled]="!guest.card"
        >
          <i class="fa fa-minus"></i>
        </button>

        <input
          id="balanceInput"
          disabled
          class="disabled form-control text-center flex-grow-1"
          [value]="guest.balance | number:'1.2-2'"
        >
        <button
          (focus)="$event.target.blur()"
          (click)="addBalance()"
          type="button"
          class="btn btn-primary"
          [disabled]="!guest.card"
          [class.disabled]="!guest.card"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>

    </div>

    <div *ngIf="hasRole(['RECHARGE'])" class="form-group">

      <label for="bonusInput">Bonus (requires card)</label>

      <div class="d-flex">
        <button
          (focus)="$event.target.blur()"
          (click)="subBonus()"
          type="button"
          class="btn btn-primary"
          [disabled]="!guest.card"
          [class.disabled]="!guest.card"
        >
          <i class="fa fa-minus"></i>
        </button>

        <input
          id="bonusInput"
          disabled
          class="disabled form-control text-center flex-grow-1"
          [value]="guest.bonus | number:'1.2-2'"
        >

        <button
          (focus)="$event.target.blur()"
          (click)="addBonus()"
          type="button"
          class="btn btn-primary"
          [disabled]="!guest.card"
          [class.disabled]="!guest.card"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>

    </div>

  </div>

  <button
    (focus)="$event.target.blur()"
    (click)="activeModal.dismiss('Cancel click')"
    type="button"
    class="btn btn-secondary btn-block btn-lg"
  >
    <i class="fa fa-close fa-lg"></i>
  </button>

</div>
