<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab title="Products">
      <template ngbTabContent>
        <app-product-editor></app-product-editor>
      </template>
    </ngb-tab>
    <ngb-tab title="Categories">
      <template ngbTabContent>
        <app-category-editor></app-category-editor>
      </template>
    </ngb-tab>
    <ngb-tab title="Product ranges">
      <template ngbTabContent>
        <app-range-editor></app-range-editor>
      </template>
    </ngb-tab>
  </ngb-tabset>
  <app-navbar></app-navbar>
</div>
