<div class="modal-body mx-4 my-3 p-0">

  <div class="row">
    <div class="col-8 p-05">
      <div class="h-100 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text keypad-display">&euro;</span>
        </div>
        <div id="keypadDisplay" class="form-control disabled text-right keypad-display">{{display}}</div>
      </div>
    </div>
    <div class="col-4 p-05">
      <button
        id="keypadDel"
        (focus)="$event.target.blur()"
        (click)="deleteChar()"
        type="button"
        class="btn btn-primary btn-block btn-lg"
      >
        <i class="fa fa-caret-square-o-left fa-lg"></i>
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div *ngFor="let i of [1,2,3,4,5,6,7,8,9]" class="col-4 p-05">
      <button
        (focus)="$event.target.blur()"
        [attr.id]="'keypad' + i"
        (click)="entry(i)" type="button"
        class="btn btn-primary btn-block btn-lg"
      >
        {{i}}
      </button>
    </div>


    <div class="col-4 p-05">
      <button
        (focus)="$event.target.blur()"
        id="keypadPeriod"
        (click)="entry('.')"
        type="button"
        class="btn btn-primary btn-block btn-lg"
      >.
      </button>
    </div>
    <div class="col-4 p-05">
      <button
        (focus)="$event.target.blur()"
        id="keypad0"
        (click)="entry('0')"
        type="button"
        class="btn btn-primary btn-block btn-lg"
      >
        0
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6 p-05">
      <button
        (focus)="$event.target.blur()"
        id="keypadCancel"
        (click)="activeModal.dismiss('Cancel click')"
        type="button"
        class="btn btn-secondary btn-block btn-lg"
      >
        <i class="fa fa-close fa-lg"></i>
      </button>
    </div>
    <div class="col-6 p-05">
      <button
        (focus)="$event.target.blur()"
        id="keypadConfirm"
        (click)="confirm()"
        type="button"
        class="btn btn-primary btn-block btn-lg"
      >
        <i class="fa fa-check fa-lg"></i>
      </button>
    </div>
  </div>

</div>
