<app-admin-view></app-admin-view>

<table class="table table-slim">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let range of productRanges" [class.changed]="range.changed" [class.removed]="!range.edited">
    <td>
      <input [value]="range.displayed.name" (input)="changeName(range, $event.target.value)"
             class="form-control p-1" [class.disabled]="!range.edited" [disabled]="!range.edited">
    </td>
    <td class="text-center">
      <button (click)="reset(range)" class="btn btn-primary btn-sm"
              [class.disabled]="(!range.changed && range.edited) || !range.original"
              [disabled]="!range.changed && range.edited || !range.original">
        <i class="fa fa-undo"></i>
      </button>
    </td>
    <td class="text-center">
      <button (click)="remove(range)" class="btn btn-danger btn-sm" [class.disabled]="!range.edited">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td [colSpan]="4">
      <div class="row m-0">
        <div class="col-4 px-1">
          <button (click)="newRange()" class="btn btn-block btn-primary btn-sm">
            <i class="fa fa-plus pr-1"></i><span>New product range</span>
          </button>
        </div>
        <div class="col-4 px-1">
          <button (click)="resetAll()" class="btn btn-block btn-primary btn-sm">
            <i class="fa fa-undo pr-1"></i><span>Reset all</span>
          </button>
        </div>
        <div class="col-4 px-1">
          <button (click)="save()" class="btn btn-block btn-primary btn-sm">
            <i class="fa fa-save pr-1"></i>Save changes
          </button>
        </div>
      </div>
    </td>
  </tr>

  </tbody>
</table>

<app-navbar></app-navbar>
