.rotate {
  height: 100px;
  white-space: nowrap;
}

.rotate > div {
  transform: rotate(315deg);

  width: 30px;
}

.btn-balance {
  min-width: 64px;
}

.filter {
  cursor: pointer;
}

.btn-reset-card {
  max-width: 30px;
}

.color-picker {
  cursor: pointer;
  display: inline-block;
}

.checkbox-lg {
  width: 20px;
  height: 20px;
}
