<app-admin-nav></app-admin-nav>

<div class="container-flex mt-3 mx-2">

  <table
    *ngIf="editorConfig && editorConfig.entries"
    id="editorTable"
    class="table table-sm table-responsive table-striped mb-0"
  >
    <thead>
    <tr>
      <th
        *ngFor="let fieldSpec of editorConfig.fieldSpecs"
        [attr.rowspan]="editorConfig.headerOptionRow ? fieldSpec.optionsHeader ? 1 : 2 : 1"
        [attr.colspan]="fieldSpec.colspan"
        [style.min-width]="fieldSpec.params.minWidth ? fieldSpec.params.minWidth + 'px': null"
      >
        <span *ngIf="!fieldSpec.params.sortable">
          {{fieldSpec.name}}
        </span>
        <a *ngIf="fieldSpec.params.sortable" (click)="cycleSort(fieldSpec)" class="filter">
          {{fieldSpec.name}}
          <i *ngIf="editorConfig.filters['ordering'] === fieldSpec.filterKey()" class="fa fa-sort-up"></i>
          <i *ngIf="editorConfig.filters['ordering'] === '-' + fieldSpec.filterKey()" class="fa fa-sort-down"></i>
        </a>
      </th>
      <th [attr.rowspan]="editorConfig.headerOptionRow ? 2 : 1" style="min-width: 120px">
        Controls
      </th>
    </tr>
    <tr *ngIf="editorConfig.headerOptionRow">
      <th *ngFor="let optionSpec of editorConfig.headerOptionSpecs" class="rotate">
        <div class="m-auto">
          {{optionSpec.name}}
        </div>
      </th>
    </tr>
    <tr *ngIf="editorConfig.headerFilterRow">
      <th *ngFor="let fieldSpec of editorConfig.fieldSpecs">
        <input
          *ngIf="fieldSpec.params.filtered && !fieldSpec.params.optionsFilter"
          (input)="setFilter(fieldSpec, $event.target.value)"
          class="form-control form-control-sm"
        >
        <div *ngIf="fieldSpec.params.filtered && fieldSpec.params.optionsFilter" ngbDropdown placement="bottom-left">
          <button
            class="btn btn-sm text-black w-100"
            ngbDropdownToggle
            [style.background-color]="fieldSpec.params.activeFilterOption.color"
            [class.dark-bg]="isDarkBackground(fieldSpec.params.activeFilterOption.color)"
          >
            {{fieldSpec.params.activeFilterOption.name}}
          </button>
          <div ngbDropdownMenu>
            <button
              *ngFor="let optionSpec of [Editor.FILTER_OPTION_ANY].concat(fieldSpec.params.optionSpecs)"
              (click)="setFilter(fieldSpec, optionSpec.value, true); fieldSpec.params.activeFilterOption = optionSpec"
              class="dropdown-item"
              [style.background-color]="optionSpec.color"
              [class.dark-bg]="isDarkBackground(optionSpec.color)"
            >
              {{optionSpec.name}}
            </button>
          </div>
        </div>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngIf="editorConfig.entries.length === 0">
      <td [attr.colspan]="editorConfig.numCols + 1">
        No entries found.
      </td>
    </tr>
    <tr
      *ngFor="let entry of editorConfig.entries.slice((page - 1) * pageSize, (page - 1) * pageSize + pageSize)"
      [class.changed]="entry.changed()"
    >
      <ng-container *ngFor="let fieldSpec of editorConfig.fieldSpecs">
        <td *ngIf="fieldSpec.type === Editor.FieldType.ReadOnlyField" class="text-right align-middle">
          {{entry.active[fieldSpec.key]}}
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.DateField" class="text-right align-middle">
          <input
            [ngModel]="formatDate(entry.active[fieldSpec.key])"
            class="form-control form-control-sm"
            disabled
          >
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.StringField">
          <input
            [(ngModel)]="entry.active[fieldSpec.key]"
            (focus)="$event.target.select()"
            class="form-control form-control-sm"
            [disabled]="disabled(fieldSpec, entry)"
          >
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.PasswordField">
          <input
            (ngModelChange)="entry.active[fieldSpec.key] = $event"
            [ngModel]="entry.active[fieldSpec.key] ? entry.active[fieldSpec.key] : '********'"
            class="form-control form-control-sm"
            [disabled]="disabled(fieldSpec, entry)"
            type="password"
          >
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.ColorField">
          <input
            [(ngModel)]="entry.active[fieldSpec.key]"
            class="form-control form-control-sm color-picker"
            type="color"
            [style.background-color]="entry.active[fieldSpec.key]"
            [disabled]="disabled(fieldSpec, entry)"
          >
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.CurrencyField">
          <button
            (click)="promptNumber(entry, fieldSpec.key)"
            class="btn btn-primary btn-sm"
            [disabled]="disabled(fieldSpec, entry)"
          >
            {{formatCurrency(entry.active[fieldSpec.key])}}
          </button>
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.PercentageField">
          <button
            (click)="promptPercentage(entry, fieldSpec.key)"
            class="btn btn-primary btn-sm"
            [disabled]="disabled(fieldSpec, entry)"
          >
            {{entry.active[fieldSpec.key] * 100}}%
          </button>
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.CardField">
          <div class="btn-group w-100" role="group">
            <button
              (click)="promptCard(entry, fieldSpec.key)"
              class="btn btn-primary btn-sm"
              [disabled]="fieldSpec.params.disabled && fieldSpec.params.disabled(entry)"
            >
              <i *ngIf="!entry.active[fieldSpec.key]" class="fa fa-credit-card px-3"></i>
              {{entry.active[fieldSpec.key]}}
            </button>
            <button
              (click)="entry.active[fieldSpec.key] = null"
              class="btn btn-danger btn-sm btn-reset-card"
              [disabled]="disabled(fieldSpec, entry)"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.BalanceField">
          <div class="btn-group" role="group">
            <button
              (click)="addBalance(entry, fieldSpec.key, -1)"
              class="btn btn-primary btn-sm"
              [disabled]="disabled(fieldSpec, entry)"
            >
              <i class="fa fa-minus"></i>
            </button>
            <button
              (click)="setBalance(entry, fieldSpec.key)"
              class="btn btn-primary btn-sm btn-balance"
              [disabled]="disabled(fieldSpec, entry)"
            >
              {{formatCurrency(entry.active[fieldSpec.key])}}
            </button>
            <button
              (click)="addBalance(entry, fieldSpec.key, +1)"
              class="btn btn-primary btn-sm"
              [disabled]="disabled(fieldSpec, entry)"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </td>

        <td *ngIf="fieldSpec.type === Editor.FieldType.DropdownField">
          <ng-container *ngIf="entry.activeOption(fieldSpec); let activeOption">
            <div ngbDropdown placement="bottom-left" class="position-static">
              <button
                class="btn btn-sm text-black w-100"
                ngbDropdownToggle
                [style.background-color]="activeOption.color"
                [class.dark-bg]="isDarkBackground(activeOption.color)"
                [disabled]="disabled(fieldSpec, entry)"
              >
                {{activeOption.name}}
              </button>
              <div ngbDropdownMenu>
                <button
                  *ngFor="let optionSpec of fieldSpec.params.optionSpecs"
                  (click)="entry.active[fieldSpec.key] = optionSpec.value"
                  class="dropdown-item"
                  [style.background-color]="optionSpec.color"
                  [class.dark-bg]="isDarkBackground(optionSpec.color)"
                >
                  {{optionSpec.name}}
                </button>
              </div>
            </div>
          </ng-container>
        </td>

        <ng-container *ngIf="fieldSpec.type === Editor.FieldType.MultiCheckboxField">
          <td *ngIf="fieldSpec.params.optionSpecs.length === 0">
          </td>
          <td *ngFor="let optionSpec of fieldSpec.params.optionSpecs" class="text-center">
            <input
              type="checkbox"
              class="checkbox-lg align-middle"
              [checked]="entry.active[fieldSpec.key].includes(optionSpec.value)"
              (change)="toggleCheckbox(entry, fieldSpec.key, optionSpec.value)"
              [disabled]="disabled(fieldSpec, entry)"
            >
          </td>
        </ng-container>

        <ng-container *ngIf="fieldSpec.type === Editor.FieldType.MultiModelCheckboxField">
          <td *ngIf="fieldSpec.params.optionSpecs.length === 0">
          </td>
          <td *ngFor="let optionSpec of fieldSpec.params.optionSpecs" class="text-center">
            <input
              type="checkbox"
              class="checkbox-lg align-middle"
              [checked]="modelArrayContains(entry, fieldSpec.key, optionSpec.value)"
              (change)="toggleModelCheckbox(entry, fieldSpec.key, optionSpec.value)"
              [disabled]="disabled(fieldSpec, entry)"
            >
          </td>
        </ng-container>
      </ng-container>

      <td>
        <button
          (click)="editorConfig.remove(entry)"
          class="btn btn-danger btn-sm"
          [disabled]="!editorConfig.removeFun || editorConfig.deleteDisabled(entry)"
        >
          <i class="fa fa-trash"></i>
        </button>
        <button
          (click)="entry.reset()"
          class="btn btn-primary btn-sm mx-1"
          [class.disabled]="!entry.changed()"
          [disabled]="!entry.changed()"
        >
          <i class="fa fa-undo"></i>
        </button>
        <button
          (click)="entry.save()"
          class="btn btn-primary btn-sm"
          [class.disabled]="!entry.changed()"
          [disabled]="!entry.changed()"
        >
          <i class="fa fa-save"></i>
        </button>
      </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td [attr.colspan]="editorConfig.numCols + 1">
        <button
          *ngIf="editorConfig.defaultModel"
          (click)="editorConfig.create()"
          class="btn btn-primary mx-1"
        >
          <i class="fa fa-plus"></i>
        </button>
        <button
          (click)="editorConfig.reload()"
          class="btn btn-primary mx-1"
        >
          <i class="fa fa-refresh"></i>
        </button>
      </td>
    </tr>
    </tfoot>
  </table>

  <div *ngIf="editorConfig && editorConfig.entries" class="row mx-0 mb-1">
    <ngb-pagination
      [collectionSize]="editorConfig.entries.length"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
    >
    </ngb-pagination>
  </div>

  <div class="mt-3">
    <app-message></app-message>
  </div>
</div>

<app-navbar></app-navbar>
