.btn-product {
  height: 80px;
}

.btn-product:hover {
  background-color: #88bbbb !important;
}

.btn-dummy {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.dark-bg div {
  color: white;
}
