<div *ngIf="products" class="container-fluid">
  <div class="row">
    <div class="col-lg-8 px-4">

      <div class="row">
        <div class="col">
          <h4 class="text-center">Product range</h4>
        </div>
      </div>

      <div class="row">
        <div
          *ngFor="let product of getPaginated(products, rangeProductsPerPage, rangePage)"
          class="col-sm-2 col-4 p-05">
          <button (click)="rangeProductClicked(product)" type="button" class="btn btn-block btn-product"
                  [style.background-color]="product.color" [class.dark-bg]="isDarkBackground(product.color)">
            <div>{{product.id}}</div>
            <div>{{product.name}}</div>
          </button>
        </div>
        <div
          *ngFor="let i of 1 | range : getNumPadItems(products.length, rangeProductsPerPage, rangePage)"
          class="col-sm-2 col-4 p-05">
          <button type="button" class="btn btn-block disabled btn-product btn-dummy"></button>
        </div>
        <div class="col-sm-2 col-4 p-05">
          <button (click)="addCustomProduct()" type="button"
                  class="btn btn-outline-primary btn-block btn-product btn-product-custom">Custom
          </button>
        </div>
      </div>

      <div class="row justify-content-center mt-2">
        <ngb-pagination [collectionSize]="products.length" [(page)]="rangePage" [pageSize]="rangeProductsPerPage"
                        size="lg"></ngb-pagination>
      </div>

    </div>
    <div class="col-lg-4 px-4">

      <div class="row">
        <div class="col">
          <h4 class="text-center">Current order</h4>
        </div>
      </div>

      <div class="row">
        <div
          *ngFor="let productEntry of orderedProducts | iterable | slice:(orderProductsPerPage * (orderPage - 1)):(orderProductsPerPage * orderPage)"
          class="col-lg-4 col-sm-2 col-4 p-05">
          <button (click)="orderedProductClicked(productEntry.key)" type="button"
                  class="btn btn-block btn-product" [style.background-color]="productEntry.key.color"
                  [class.dark-bg]="isDarkBackground(productEntry.key.color)">
            <div>{{productEntry.key.id}}</div>
            <div>{{productEntry.key.name}}</div>
            <div>x{{productEntry.value}}</div>
          </button>
        </div>
        <div
          *ngFor="let i of 1 | range : getNumPadItems(orderedProducts.size, orderProductsPerPage, orderPage)"
          class="col-lg-4 col-sm-2 col-4 p-05">
          <button type="button" class="btn btn-block disabled btn-product btn-dummy"></button>
        </div>
      </div>

      <div class="row justify-content-center mt-2">
        <ngb-pagination [collectionSize]="orderedProducts.size" [(page)]="orderPage"
                        [pageSize]="orderProductsPerPage" size="lg"></ngb-pagination>
      </div>

      <div class="row">
        <button type="button" class="btn btn-primary btn-block btn-lg">Place order</button>
      </div>

    </div>
  </div>
</div>
