<table class="table table-slim">
  <thead>
  <tr>
    <th rowspan="2">Name</th>
    <th rowspan="2">Price</th>
    <th rowspan="2">Category</th>
    <th colspan="100">Product ranges</th>
  </tr>
  <tr>
    <th *ngFor="let range of productRanges" class="rotate">
      <div>
        {{range.name}}
      </div>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let product of products" [class.changed]="product.changed">
    <td>{{product.edited.name}}</td>
    <td>{{product.edited.price}}</td>
    <td>
      <div ngbDropdown>
        <button class="btn btn-sm text-black" ngbDropdownToggle [style.background-color]="product.edited.category.color"
                [class.dark-bg]="isDarkBackground(product.edited.category.color)">{{product.edited.category.name}}
        </button>
        <div class="dropdown-menu">
          <button *ngFor="let category of categories" (click)="setCategory(product, category)" class="dropdown-item"
                  [style.background-color]="category.color"
                  [class.dark-bg]="isDarkBackground(category.color)">
            {{category.name}}
          </button>
        </div>
      </div>
    </td>
    <td *ngFor="let range of productRanges">
      <label class="custom-control custom-checkbox m-0 minh-1">
        <input type="checkbox" class="custom-control-input m-0"
               [checked]="product.edited.ranges.has(range)"
               (change)="toggleRange(product, range)">
        <span class="custom-control-indicator"></span>
      </label>
    </td>
  </tr>

  <tr>
    <td>
      <button class="btn btn-block btn-primary"><i class="fa fa-plus pr-1"></i>New item</button>
    </td>
  </tr>
  </tbody>
</table>
