@import 'node_modules/bootstrap/scss/bootstrap';

.rotate {
  height: 100px;
  white-space: nowrap;
}

.rotate > div {
  transform: rotate(315deg);

  width: 30px;
}

.table-slim tbody > tr > td {
  @extend .py-1;
  @extend .my-0;
}

.minh-1 {
  min-height: 1rem;
}

.changed {
  background-color: lightblue;
}
