<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0">

  <button (focus)="$event.target.blur()"
          (click)="navbarCollapsed = !navbarCollapsed"
          class="navbar-toggler mx-auto my-1 w-100 border-0" type="button"
          data-toggle="collapse">
    <span class="fa fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
    <ul id="adminLinks" class="navbar-nav justify-content-center mx-auto">
      <li *ngFor="let link of links" class="nav-item">
        <a class="nav-link" [routerLink]="[link[0]]" routerLinkActive="active">{{link[1]}}</a>
      </li>
    </ul>
  </div>

</nav>
