<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/ranges" routerLinkActive="active">Product ranges</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/guests" routerLinkActive="active">Guest list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/import" routerLinkActive="active">Guest import</a>
    </li>
  </ul>
</div>
