<div class="modal-body mx-4 my-3 p-0 text-center">
  Are you sure you want to delete <b>all guests</b> and the associated <b>order history</b>?

  <div class="row mt-2">
    <div class="col-6 p-1">
      <button
        (click)="activeModal.dismiss('Cancel click')"
        type="button"
        class="btn btn-secondary btn-block btn-lg"
      >
        <i class="fa fa-close fa-lg"></i>
      </button>
    </div>
    <div class="col-6 p-1">
      <button
        (click)="activeModal.close()"
        type="button"
        class="btn btn-primary btn-block btn-lg"
        [disabled]="countdown > 0"
        [class.disabled]="countdown > 0"
      >
        <i class="fa fa-check fa-lg"></i>{{countdown > 0 ? '(' + countdown + ')' : ''}}
      </button>
    </div>
  </div>
</div>
