<app-admin-nav></app-admin-nav>

<div class="container mt-3">
  <div class="form-group">
    <label for="codeInput">Code column</label>
    <input id="codeInput" class="form-control" type="text" [(ngModel)]="codeCol">
  </div>

  <div class="form-group">
    <label for="nameInput">Name column</label>
    <input id="nameInput" class="form-control" type="text" [(ngModel)]="nameCol">
  </div>

  <div class="form-group">
    <label for="mailInput">E-Mail column</label>
    <input id="mailInput" class="form-control" type="text" [(ngModel)]="mailCol">
  </div>

  <div class="form-group">
    <label for="statusInput">Status column</label>
    <input id="statusInput" class="form-control" type="text" [(ngModel)]="statusCol">
  </div>

  <label class="custom-file btn btn-block btn-primary mt-5">
    <input type="file" class="custom-file-input" (change)="import_csv($event.target)" hidden accept=".csv">
    <span class="custom-file-control text-white"><i class="fa fa-upload pr-1"></i>Upload file (.csv)</span>
  </label>

  <button (click)="deleteGuests()" type="button" class="btn btn-sm btn-block btn-danger my-5">
    <i class="fa fa-exclamation-triangle fa-lg pr-1"></i>Delete all guests
  </button>

  <app-message></app-message>
</div>

<app-navbar></app-navbar>
