<app-admin-nav></app-admin-nav>

<div class="container mt-3">
  <table *ngIf="statistics" class="table table-sm table-striped table-stats">
    <tbody>
    <tr>
      <td>Guests</td>
      <td>{{statistics.guestsTotal}}</td>
    </tr>
    <tr>
      <td><b>Guests checked in</b></td>
      <td><b>{{statistics.guestsCheckedIn}}</b></td>
    </tr>
    <tr>
      <td>Guests not checked in</td>
      <td>{{statistics.guestsTotal - statistics.guestsCheckedIn}}</td>
    </tr>
    <tr>
      <td>Cards registered</td>
      <td>{{statistics.cardsTotal}}</td>
    </tr>
    <tr>
      <td><b>Guests remaining positive balance</b></td>
      <td><b>€{{statistics.totalPositiveBalance | number:'1.2-2'}}</b></td>
    </tr>
    <tr>
      <td><b>Guests remaining negative balance</b></td>
      <td><b>€{{statistics.totalNegativeBalance | number:'1.2-2'}}</b></td>
    </tr>
    <tr>
      <td>Total bonus available to guests</td>
      <td>€{{statistics.totalBonus | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total funds spent (including bonus)</td>
      <td>€{{statistics.totalSpent | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>of which has been refunded</td>
      <td>€{{statistics.totalRefund | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td><b>Net sales (accounting for refunds)</b></td>
      <td><b>€{{statistics.totalSpent - statistics.totalRefund | number:'1.2-2'}}</b></td>
    </tr>
    <tr>
      <td>Total deposits</td>
      <td>€{{statistics.totalDeposited | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total withdrawals</td>
      <td>€{{statistics.totalWithdrawn | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>Products</td>
      <td>{{statistics.numProducts - statistics.numLegacyProducts}}</td>
    </tr>
    <tr>
      <td>Legacy products</td>
      <td>{{statistics.numLegacyProducts}}</td>
    </tr>
    <tr>
      <td>Product ranges</td>
      <td>{{statistics.numProductRanges}}</td>
    </tr>
    <tr>
      <td>Categories</td>
      <td>{{statistics.numCategories}}</td>
    </tr>
    </tbody>
  </table>

  <canvas #salesCanvas>{{salesChart}}</canvas>

  <button (click)='refresh()' type="button" class="btn btn-block btn-primary mt-3">
    <i class="fa fa-refresh"></i>
  </button>

  <div class="mt-3">
    <app-message></app-message>
  </div>
</div>

<app-navbar></app-navbar>
