<app-admin-nav></app-admin-nav>

<div class="container mt-3">
  <table *ngIf="stats" class="table table-sm table-striped table-stats">
    <tbody>
    <tr>
      <td>Guests</td>
      <td>{{stats.guestsTotal}}</td>
    </tr>
    <tr>
      <td><b>Guests checked in</b></td>
      <td><b>{{stats.guestsCheckedIn}}</b></td>
    </tr>
    <tr>
      <td>Guests not checked in</td>
      <td>{{stats.guestsTotal - stats.guestsCheckedIn}}</td>
    </tr>
    <tr>
      <td>Cards registered</td>
      <td>{{stats.cardsTotal}}</td>
    </tr>
    <tr>
      <td><b>Guests remaining positive balance</b></td>
      <td><b>€{{stats.totalPositiveBalance | number:'1.2-2'}}</b></td>
    </tr>
    <tr>
      <td><b>Guests remaining negative balance</b></td>
      <td><b>€{{stats.totalNegativeBalance | number:'1.2-2'}}</b></td>
    </tr>
    <tr>
      <td>Total bonus available to guests</td>
      <td>€{{stats.totalBonus | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total funds spent (including bonus)</td>
      <td>€{{stats.totalSpent | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>of which has been refunded</td>
      <td>€{{stats.totalRefund | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td><b>Net sales (accounting for refunds)</b></td>
      <td><b>€{{stats.totalSpent - stats.totalRefund | number:'1.2-2'}}</b></td>
    </tr>
    <tr>
      <td>Total deposits</td>
      <td>€{{stats.totalDeposited | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>Total withdrawals</td>
      <td>€{{stats.totalWithdrawn | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td>Products</td>
      <td>{{stats.numProducts - stats.numLegacyProducts}}</td>
    </tr>
    <tr>
      <td>Legacy products</td>
      <td>{{stats.numLegacyProducts}}</td>
    </tr>
    <tr>
      <td>Product ranges</td>
      <td>{{stats.numRanges}}</td>
    </tr>
    <tr>
      <td>Categories</td>
      <td>{{stats.numCategories}}</td>
    </tr>
    </tbody>
  </table>

  <canvas #salesCanvas>{{salesChart}}</canvas>

  <button (click)='refresh()' type="button" class="btn btn-block btn-primary mt-3">
    <i class="fa fa-refresh"></i>
  </button>

  <div class="mt-3">
    <app-message></app-message>
  </div>
</div>

<app-navbar></app-navbar>
