@import 'node_modules/bootstrap/scss/bootstrap';

.progress span {
  position: absolute;
}

.root-size {
  font-size: 1rem;
}

.progress {
  position: relative;
  max-width: 8rem;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 26px;
}

.progress-lg {
  min-height: 40px;
  max-width: 16rem;
}

.card-pad {
  height: 66px;
}

@include media-breakpoint-up(sm) {
  .card-pad {
    height: 34px;
  }
}
