<div (window:resize)="onResize($event.target)" class="h-100 container-fluid d-flex flex-column p-0">
  <div class="container-main">
    <!-- Available tags. -->
    <div class="container-panel-available">
      <div class="row-grid">
        <div
          *ngFor="let availableLabel of getPaginated(availableLabels, availableLabelsPerPage, availablePage)"
          class="col-label-available"
        >
          <button
            (click)="availableLabelClicked(availableLabel)"
            type="button"
            [class.btn-label-available]="availableLabel > 0"
            [class.btn-label-registered]="availableLabel <= 0"
            [disabled]="availableLabelDisabled(availableLabel)"
          >
            {{abs(availableLabel)}}
          </button>
        </div>

        <!-- Padding buttons. -->
        <div
          *ngFor="let i of 1 | range : getPaddingItemCount(availableLabels.length, availableLabelsPerPage, availablePage)"
          class="col-label-available"
          >
          <button type="button" class="btn-dummy" disabled>&zwnj;</button>
        </div>
      </div>

      <div class="row-pagination">
        <ngb-pagination
          [collectionSize]="availableLabels.length"
          [(page)]="availablePage"
          [pageSize]="availableLabelsPerPage"
          [maxSize]="pagesShown"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
        >
        </ngb-pagination>
      </div>

      <div class="row-controls">
        <button
          (click)="showRegisteredLabels.click()"
          type="button"
          class="btn-controls-single"
          [disabled]="!registerMode"
        >
          <div class="custom-control custom-checkbox">
            <input
              #showRegisteredLabels
              (click)="toggleRegisteredLabels()"
              type="checkbox"
              class="custom-control-input"
              id="showRegisteredLabels"
              [disabled]="!registerMode"
            >
            <label
              class="custom-control-label"
              for="showRegisteredLabels"
              style="pointer-events: none"
            >
              Include registered tags
            </label>
          </div>
        </button>
      </div>
    </div>

    <!-- Staged tags. -->
    <div class="container-panel-stage">
      <div class="row-grid">
        <div
          *ngFor="let stagedLabel of getPaginated(stagedLabels, stagedLabelsPerPage, stagedPage)"
          class="col-label-stage"
        >
          <button
            (click)="stagedLabelClicked(stagedLabel)"
            type="button"
            [class.btn-label-available]="stagedLabel > 0"
            [class.btn-label-registered]="stagedLabel <= 0"
            [disabled]="stagedLabelDisabled(stagedLabel)"
          >
            {{abs(stagedLabel)}}
          </button>
        </div>

        <!-- Padding buttons. -->
        <div
          *ngFor="let i of 1 | range : getPaddingItemCount(stagedLabels.length, stagedLabelsPerPage, stagedPage)"
          class="col-label-stage"
        >
          <button type="button" class="btn-dummy" disabled>&zwnj;</button>
        </div>
      </div>

      <div class="row-pagination">
        <ngb-pagination
          [collectionSize]="stagedLabels.length"
          [(page)]="stagedPage"
          [pageSize]="stagedLabelsPerPage"
          [maxSize]="pagesShown"
          [rotate]="true"
          [ellipses]="false"
        >
        </ngb-pagination>
      </div>

      <div class="row-controls">
        <div class="col-6 p-1">
          <button
            (click)="clear()"
            type="button"
            class="btn-controls-multi"
            [disabled]="this.stagedLabels.length === 0"
          >
            <i *ngIf="registerMode" class="fa fa-trash fa-lg"></i>
            <i *ngIf="!registerMode" class="fa fa-ban fa-lg"></i>
          </button>
        </div>

        <div class="col-6 p-1">
          <button
            (click)="loadTags()"
            type="button"
            class="btn-controls-multi"
            [disabled]="this.stagedLabels.length > 0"
          >
            <i class="fa fa-credit-card fa-lg mr-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-order-panels class="flex-grow-1"></app-order-panels>
  <app-navbar></app-navbar>
</div>
