<div class="container-fluid h-100 d-flex flex-column m-0 justify-content-center">
  <app-card-bar [fullscreen]="false" [message]="message"></app-card-bar>

  <div class="row p-2 my-0 grid-max mx-auto">
    <div *ngIf="hasRole(['RECEPTION'])" class="col-sm-6 p-1">
      <button (focus)="$event.target.blur()" (click)="newGuest()" class="btn btn-primary btn-block btn-huge">
        <i class="fa fa-plus fa-lg pr-1"></i>New guest
      </button>
    </div>
    <div *ngIf="hasRole(['RECEPTION'])" class="col-sm-6 p-1">
      <button (focus)="$event.target.blur()" (click)="searchGuest()" class="btn btn-primary btn-block btn-huge">
        <i class="fa fa-search fa-lg pr-1"></i>Search guest
      </button>
    </div>
    <div *ngIf="hasRole(['TRANSFER'])" class="col-sm-6 p-1">
      <button
        (focus)="$event.target.blur()"
        (click)="deposit()"
        class="btn btn-primary btn-block btn-huge"
        [disabled]="!cardBar.guest"
        [class.disabled]="!cardBar.guest"
      >
        <i class="fa fa-level-down fa-lg pr-1"></i>Deposit
      </button>
    </div>
    <div *ngIf="hasRole(['TRANSFER'])" class="col-sm-6 p-1">
      <button
        (focus)="$event.target.blur()"
        (click)="withdraw()"
        class="btn btn-primary btn-block btn-huge"
        [disabled]="!cardBar.guest"
        [class.disabled]="!cardBar.guest"
      >
        <i class="fa fa-level-up fa-lg pr-1"></i>Withdraw
      </button>
    </div>
  </div>

  <app-message class="m-5 text-center"></app-message>

  <app-navbar></app-navbar>

</div>
