@import 'node_modules/bootstrap/scss/bootstrap';

.btn-huge {
  height: 200px;
}

@include media-breakpoint-down(xs) {
  .btn-huge {
    height: 100%;
  }
}

app-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
