<app-admin-nav></app-admin-nav>

<table class="table table-sm">
  <thead>
  <tr>
    <th>Name</th>
    <th>Color</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let category of categories" [class.changed]="category.changed" [class.removed]="!category.edited">
    <td>
      <input [value]="category.displayed.name" (input)="changeName(category, $event.target.value)"
             class="form-control p-1" [class.disabled]="!category.edited" [disabled]="!category.edited">
    </td>
    <td>
      <input [value]="category.displayed.color" (input)="changeColor(category, $event.target.value)"
             class="form-control h-100 color-picker" type="color"
             [style.background-color]="category.displayed.color" [class.disabled]="!category.edited"
             [disabled]="!category.edited">
    </td>
    <td class="text-center">
      <button (click)="reset(category)" class="btn btn-primary btn-sm"
              [class.disabled]="(!category.changed && category.edited) || !category.original"
              [disabled]="!category.changed && category.edited || !category.original">
        <i class="fa fa-undo"></i>
      </button>
    </td>
    <td class="text-center">
      <button (click)="remove(category)" class="btn btn-danger btn-sm" [class.disabled]="!category.edited">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td [colSpan]="4">
      <div class="row m-0">
        <div class="col-4 px-1">
          <button (click)="newCategory()" class="btn btn-block btn-primary btn-sm">
            <i class="fa fa-plus pr-1"></i><span>New category</span>
          </button>
        </div>
        <div class="col-4 px-1">
          <button (click)="resetAll()" class="btn btn-block btn-primary btn-sm">
            <i class="fa fa-undo pr-1"></i><span>Reset all</span>
          </button>
        </div>
        <div class="col-4 px-1">
          <button (click)="save()" class="btn btn-block btn-primary btn-sm">
            <i class="fa fa-save pr-1"></i>Save changes
          </button>
        </div>
      </div>
    </td>
  </tr>

  </tbody>
</table>

<ngb-alert *ngIf="message" [type]="messageType" (close)="message = null">{{message}}</ngb-alert>

<app-navbar></app-navbar>
