<app-admin-nav></app-admin-nav>

<div class="container mt-3">

  <table class="table table-sm table-responsive table-striped">
    <thead>
    <tr>
      <th rowspan="3">Username</th>
      <th rowspan="3">Password</th>
      <th [colSpan]="ranges.length + (ROLES | iterable).length">Permissions</th>
    </tr>
    <tr>
      <th *ngFor="let role of ROLES | iterable" rowspan="2" class="rotate">
        <div>{{role.value}}</div>
      </th>
      <th [colSpan]="ranges.length">Product ranges</th>
    </tr>
    <tr>
      <th *ngFor="let range of ranges" class="rotate">
        <div>{{range.name}}</div>
      </th>
    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let user of users" [class.changed]="user.changed" [class.removed]="!user.edited">
      <td>
        <input
          [(ngModel)]="user.displayed.username"
          (input)="changeUsername(user, $event.target.value)"
          class="form-control p-1"
          [disabled]="!user.edited || (user.original && user.original.username == 'admin')"
          [class.disabled]="!user.edited || (user.original && user.original.username == 'admin')"
        >
      </td>
      <td>
        <input
          [(ngModel)]="user.displayed.password"
          (input)="changePassword(user, $event.target.value)"
          type="password"
          class="form-control p-1"
          [class.disabled]="!user.edited"
          [disabled]="!user.edited"
        >
      </td>

      <td *ngFor="let role of ROLES | iterable">
        <input
          type="checkbox"
          class="checkbox-lg"
          [checked]="user.displayed.roles.includes(role.key)"
          (change)="toggleRole(user, role.key)"
          [disabled]="!user.edited || (user.original && user.original.username == 'admin' && role.key == 'ADMIN')"
          [class.disabled]="!user.edited || (user.original && user.original.username == 'admin' && role.key == 'ADMIN')"
        >
      </td>

      <td *ngFor="let range of ranges">
        <input
          type="checkbox"
          class="checkbox-lg"
          [checked]="user.displayed.roles.includes('RANGE_' + range.id)"
          (change)="toggleRole(user, 'RANGE_' + range.id)"
          [class.disabled]="!user.edited"
          [disabled]="!user.edited"
        >
      </td>


      <td class="text-center">
        <button
          (click)="reset(user)"
          class="btn btn-primary btn-sm"
          [class.disabled]="(!user.changed && user.edited) || !user.original"
          [disabled]="!user.changed && user.edited || !user.original"
        >
          <i class="fa fa-undo"></i>
        </button>
      </td>
      <td class="text-center">
        <button
          (click)="remove(user)"
          class="btn btn-danger btn-sm"
          [disabled]="!user.edited || (user.original && user.original.username == 'admin')"
          [class.disabled]="!user.edited || (user.original && user.original.username == 'admin')"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>

    </tr>

    </tbody>
  </table>

  <div class="mt-3 container-buttons">

    <button (click)="newUser()" class="btn btn-primary btn-sm">
      <i class="fa fa-plus pr-1"></i><span>New user</span>
    </button>
    <button (click)="resetAll()" class="btn btn-primary btn-sm">
      <i class="fa fa-undo pr-1"></i><span>Reset all</span>
    </button>
    <button (click)="save()" class="btn btn-primary btn-sm">
      <i class="fa fa-save pr-1"></i>Save changes
    </button>
  </div>

  <app-message></app-message>

</div>

<app-navbar></app-navbar>
