<div class="container-fluid h-100 d-flex flex-column m-0">
  <div class="row col m-0 p-0">
    <div class="col-sm-6 text-center p-0 align-self-center">
      <button class="btn btn-primary btn-huge">
        <i class="fa fa-plus pr-1"></i>New guest
      </button>
    </div>
    <div class="col-sm-6 text-center p-0 align-self-center">
      <button class="btn btn-primary btn-huge">
        <i class="fa fa-search pr-1"></i>Search guest
      </button>
    </div>
  </div>

  <app-navbar></app-navbar>
</div>
