@import 'node_modules/bootstrap/scss/bootstrap';

@include media-breakpoint-up(lg) {
  html, body {
    height: 100%
  }
}

.btn,
.dropdown-item {
  cursor: pointer;
}

.btn.disabled,
.form-control.disabled {
  cursor: default !important;
}

.p-05 {
  padding: 1px;
}

.pagination {
  margin-bottom: 0;
}

.text-black {
  color: black;
}

.dark-bg,
.dark-bg div {
  color: white !important;
}

.table-slim tbody > tr > td {
  @extend .py-1;
  @extend .my-0;
}

.changed {
  background-color: lightblue;
}

.removed {
  background-color: lightcoral;
}
