@import 'node_modules/bootstrap/scss/bootstrap';

@include media-breakpoint-up(lg) {
  html, body {
    height: 100%
  }
}

.btn,
.dropdown-item {
  cursor: pointer;
}

.btn.disabled,
.form-control.disabled {
  cursor: default;
}

.p-05 {
  padding: 1px;
}

.pagination {
  margin-bottom: 0;
}

.text-black {
  color: black;
}

.dark-bg,
.dark-bg div {
  color: white;
}
