.order-history {
  overflow: scroll;
}

.order-row {
  background: rgba(0, 0, 0, 0.2) !important;
}

.h-max-none {
  max-height: none;
}

.h-max-420 {
  max-height: 420px;
}

.pre-scrollable {
  overflow-x: scroll;
}
