<div
  class="order-history px-3 text-center bg-white"
  [class.flex-grow-1]="!modal"
  [class.h-max-420]="modal"
  [class.h-max-none]="!modal"
>
  <span
    *ngIf="orders && orders.length == 0"
    class="h4"
  >
    No orders.
  </span>
  <table
    *ngIf="orders && orders.length > 0"
    class="table mb-0 text-right"
    [class.table-sm]="!modal"
  >
    <thead>
    <tr>
      <th class="text-left">Product</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Total</th>
      <th *ngIf="allowCancel">Cancel</th>
    </tr>
    </thead>

    <tbody class="px-2">
    <ng-container *ngFor="let order of orders">

      <tr class="order-row">
        <td [attr.colspan]="3" class="text-left">
          {{order.time.toLocaleTimeString()}}
        </td>
        <td class="text-right">
          <span *ngIf="order.total !== order.totalEffective" class="text-danger">
                <s>€{{order.total | number:'1.2-2'}}</s>
          </span>
          <span [class.text-success]="order.total !== order.totalEffective">
                €{{order.totalEffective | number:'1.2-2'}}
          </span>
        </td>
        <td *ngIf="allowCancel"></td>
      </tr>

      <tr *ngFor="let orderItem of order.orderItems">
        <td class="text-left">{{orderItem.product.name}}</td>
        <td>€{{orderItem.product.price | number:'1.2-2'}}</td>
        <td>
          <span *ngIf="orderItem.cancelled !== 0" class="text-danger">
            <s>{{orderItem.quantity}}</s>
          </span>
          <span [class.text-success]="orderItem.cancelled !== 0">
            {{orderItem.quantity - orderItem.cancelled}}
          </span>
        </td>
        <td>
          <span *ngIf="orderItem.total !== orderItem.totalEffective" class="text-danger">
            <s>€{{orderItem.total | number:'1.2-2'}}</s>
          </span>
          <span [class.text-success]="orderItem.total !== orderItem.totalEffective">
            €{{orderItem.totalEffective | number:'1.2-2'}}
          </span>
        </td>
        <td *ngIf="allowCancel" class="py-0 align-middle">
          <button
            *ngIf="orderItem.cancelled !== orderItem.quantity"
            (focus)="$event.target.blur()"
            (click)="cancelOrderItem(orderItem)"
            type="button"
            class="btn btn-sm btn-primary"
          >
            Cancel
          </button>
        </td>
      </tr>

      <tr *ngIf="order.customTotal !== 0">
        <td colspan="3" class="text-left">Custom</td>
        <td>
          <span *ngIf="order.customTotal !== order.customTotalEffective" class="text-danger">
            <s>€{{order.customTotal | number:'1.2-2'}}</s>
          </span>
          <span [class.text-success]="order.customTotal !== order.customTotalEffective">
            €{{order.customTotalEffective | number:'1.2-2'}}
          </span>
        </td>
        <td *ngIf="allowCancel" class="py-0 align-middle">
          <button
            *ngIf="order.customTotalEffective > 0.001"
            (focus)="$event.target.blur()"
            (click)="cancelCustom(order)"
            type="button"
            class="btn btn-sm btn-primary"
          >
            Cancel
          </button>
        </td>
      </tr>

    </ng-container>

    </tbody>
  </table>
</div>
