<div class="container-fluid flex-grow-1 pre-scrollable">
  <table
    *ngIf="orders.length > 0"
    class="table w-100 mb-0 text-right"
    [class.text-white]="!modal"
    [class.table-sm]="!modal"
  >
    <thead>
    <tr>
      <th class="text-left">Product</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Total</th>
      <th *ngIf="allowCancel">Cancel</th>
    </tr>
    </thead>

    <tbody class="px-2">
    <ng-container *ngFor="let order of orders">

      <tr class="text-center bg-transparent order-row">
        <td [attr.colspan]="allowCancel ? 5 : 4">
          <div class="row mx-0">
            <div class="col-6 mx-0 px-0">{{order.time.toLocaleTimeString()}}</div>
            <div class="col-6 mx-0 px-0">
              Total: <s *ngIf="order.total !== order.totalEffective">€{{order.total | number:'1.2-2'}}</s>
              €{{order.totalEffective | number:'1.2-2'}}
            </div>
          </div>
        </td>
      </tr>

      <tr *ngFor="let orderItem of order.orderItems">
        <td class="text-left">{{orderItem.product.name}}</td>
        <td>€{{orderItem.product.price | number:'1.2-2'}}</td>
        <td>
          <s *ngIf="orderItem.cancelled !== 0">{{orderItem.quantity}}</s>
          {{orderItem.quantity - orderItem.cancelled}}
        </td>
        <td>
          <s *ngIf="orderItem.total !== orderItem.totalEffective">€{{orderItem.total | number:'1.2-2'}}</s>
          €{{orderItem.totalEffective | number:'1.2-2'}}
        </td>
        <td *ngIf="allowCancel" class="p-0 align-middle">
          <button
            (focus)="$event.target.blur()"
            (click)="cancelOrderItem(orderItem)"
            type="button"
            class="btn btn-sm btn-primary"
          >
            Cancel
          </button>
        </td>
      </tr>

      <tr *ngIf="order.customTotal !== 0">
        <td colspan="3" class="text-left">Custom</td>
        <td>
          <s *ngIf="order.total !== order.totalEffective">€{{order.customTotal | number:'1.2-2'}}</s>
          €{{order.customTotalEffective | number:'1.2-2'}}
        </td>
        <td *ngIf="allowCancel" class="p-0 align-middle">
          <button
            (focus)="$event.target.blur()"
            (click)="cancelCustom(order)"
            type="button"
            class="btn btn-sm btn-primary"
          >
            Cancel
          </button>
        </td>
      </tr>

    </ng-container>

    </tbody>
  </table>
</div>
