<div class="overflow-auto">
  <span *ngIf="entries && entries.length === 0" class="h4">
    No orders.
  </span>
  <table
    id="orderTable"
    *ngIf="entries && entries.length > 0"
    class="table mb-0"
    [class.table-sm]="!activeModal"
  >
    <!-- Columns: Description | Time/Product | Price | Quantity | Discount | Total | Cancel -->
    <tbody class="px-2">
    <tr *ngIf="guest" class="balance">
      <td>
        <b>Balance</b>
      </td>
      <td colspan="4">
      </td>
      <td class="text-right">
        <b>€{{formatCurrency(guest.balance)}}</b>
      </td>
    </tr>
    <tr *ngIf="guest && guest.bonus !== 0">
      <td>
        <b>Bonus</b>
      </td>
      <td colspan="4">
      </td>
      <td class="text-right">
        <b>€{{formatCurrency(guest.bonus)}}</b>
      </td>
    </tr>
    <ng-container *ngFor="let entry of entries">
      <!-- Transaction row -->
      <tr *ngIf="instanceOf(entry, Transaction)" class="transaction">
        <ng-container *ngIf="toTransaction(entry); let transaction">
          <td *ngIf="transaction.value >= 0">
            Deposit
          </td>
          <td *ngIf="transaction.value < 0">
            Withdrawal
          </td>
          <td>
            <i class="fa fa-clock-o"></i> {{formatTime(transaction.time)}}
          </td>
          <td colspan="3">
          </td>
          <td
            class="text-right"
            [class.text-danger]="transaction.value < 0"
            [class.text-success]="transaction.value > 0"
          >
            <b>€{{formatCurrency(transaction.value)}}</b>
          </td>
        </ng-container>
      </tr>

      <!-- Bonus transaction row -->
      <tr *ngIf="instanceOf(entry, BonusTransaction)" class="transaction">
        <ng-container *ngIf="toTransaction(entry); let bonusTransaction">
          <td>
            Bonus
          </td>
          <td>
            <i class="fa fa-clock-o"></i> {{formatTime(bonusTransaction.time)}}
          </td>
          <td colspan="3">
          </td>
          <td
            class="text-right"
            [class.text-danger]="bonusTransaction.value < 0"
            [class.text-success]="bonusTransaction.value > 0"
          >
            <b>€{{formatCurrency(bonusTransaction.value)}}</b>
          </td>
        </ng-container>
      </tr>

      <!--Order block-->
      <ng-container *ngIf="instanceOf(entry, Order)">
        <ng-container *ngIf="toOrder(entry); let order">
          <!--Order total row-->
          <tr class="order">
            <td>
              Order
            </td>
            <td>
              <i class="fa fa-clock-o"></i> {{formatTime(order.time)}}
            </td>
            <td colspan="3">
            </td>
            <td *ngIf="order.totalInitial(); let totalInitial" class="text-right">
              <ng-container *ngIf="order.total(); let total">
                <span *ngIf="total !== totalInitial">
                  <s>€{{formatCurrency(-totalInitial)}}</s>
                </span>
                <span [class.text-danger]="total > 0" [class.text-success]="total < 0">
                  <b> €{{formatCurrency(-total)}}</b>
                </span>
              </ng-container>
            </td>
            <td *ngIf="allowCancel"></td>
          </tr>

          <!--Order item rows-->
          <tr *ngFor="let orderItem of order.orderItems">
            <td>
            </td>
            <!--Product name-->
            <td>
              {{orderItem.product.name}}
            </td>
            <!--Product price-->
            <td class="text-right pr-0">
              €{{formatCurrency(orderItem.product.price)}}
            </td>
            <!--Initial/current quantity-->
            <td class="text-right pr-0">
              <span *ngIf="orderItem.quantityInitial !== orderItem.quantityCurrent">
                <s>{{orderItem.quantityInitial}}</s>
              </span>
              <span>
                {{orderItem.quantityCurrent}}
              </span>
            </td>
            <!--Discount-->
            <td class="text-right pr-0">
              <span *ngIf="orderItem.discount > 0">
                {{-100 * formatDiscount(orderItem.discount)}}%
              </span>
            </td>
            <!--Initial/current total-->
            <td class="text-right">
              <span *ngIf="orderItem.quantityInitial !== orderItem.quantityCurrent">
                <s>€{{formatCurrency(-orderItem.totalInitial())}}</s>
              </span>
              <span>
                €{{formatCurrency(-orderItem.total())}}
              </span>
            </td>
            <!--Cancel product items-->
            <td *ngIf="allowCancel" class="py-0 align-middle align-right">
              <button
                (click)="cancelOrderItem(order, orderItem)"
                type="button"
                class="btn btn-sm btn-danger"
                [disabled]="orderItem.quantityCurrent === 0"
              >
                <i class="fa fa-ban fa-lg"></i>
              </button>
            </td>
          </tr>

          <!--Custom row-->
          <tr *ngIf="order.customInitial > 0">
            <td>
            </td>
            <td>
              Custom
            </td>
            <td colspan="3">
            </td>
            <td class="text-right">
              <span *ngIf="order.customInitial !== order.customCurrent">
                <s>€{{formatCurrency(-order.customInitial)}}</s>
              </span>
              <span>
                €{{formatCurrency(-order.customCurrent)}}
              </span>
            </td>

            <!--Cancel custom-->
            <td *ngIf="allowCancel" class="py-0 align-middle align-right">
              <button
                *ngIf="order.customCurrent > 0"
                (click)="cancelCustom(order)"
                type="button"
                class="btn btn-sm btn-danger"
              >
                <i class="fa fa-ban fa-lg"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
</div>
