<div class="container-fluid navbar-pad"></div>

<nav class="navbar navbar-expand-md navbar-dark bg-primary p-0 fixed-bottom">

  <button
    (focus)="$event.target.blur()"
    (click)="navbarCollapsed = !navbarCollapsed"
    class="navbar-toggler mx-auto my-1 w-100 border-0"
    type="button"
    data-toggle="collapse"
  >
    <span class="fa fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
    <ul id="navLinks" class="navbar-nav mx-auto text-center">

      <li *ngIf="hasRole(['COAT_CHECK'])" class="nav-item">
        <a
          id="coatCheck"
          (focus)="$event.target.blur()"
          routerLink="/coat_check"
          routerLinkActive="active"
          class="nav-link"
        >
          Coat check
        </a>
      </li>
      <li *ngIf="hasRole(['ORDER'])" class="nav-item">
        <a
          id="order"
          (focus)="$event.target.blur()"
          routerLink="/order"
          routerLinkActive="active"
          class="nav-link"
        >
          Order
        </a>
      </li>
      <li *ngIf="hasRole(['RECEPTION', 'TRANSFER'])" class="nav-item">
        <a
          id="checkin"
          (focus)="$event.target.blur()"
          routerLink="/checkin"
          routerLinkActive="active" class="nav-link"
        >
          Check-in
        </a>
      </li>
      <li *ngIf="hasRole(['SCAN'])" class="nav-item">
        <a
          id="scan"
          (focus)="$event.target.blur()"
          routerLink="/scan"
          routerLinkActive="active"
          class="nav-link"
        >
          Scan
        </a>
      </li>
      <li *ngIf="hasRole(['ADMIN'])" class="nav-item">
        <a
          id="admin"
          (focus)="$event.target.blur()"
          routerLink="/admin"
          routerLinkActive="active"
          class="nav-link"
        >
          Admin
        </a>
      </li>
      <li class="nav-item">
        <a
          id="logout"
          (focus)="$event.target.blur()"
          routerLink="/logout"
          class="nav-link"
        >
          Logout<i class="fa fa-sign-out pl-1"></i>
        </a>
      </li>

    </ul>
  </div>

</nav>
