<div class="container-fluid navbar-pad"></div>

<nav class="navbar navbar-expand-md navbar-dark bg-primary p-0 fixed-bottom">

  <button
    (focus)="$event.target.blur()"
    (click)="navbarCollapsed = !navbarCollapsed"
    class="navbar-toggler mx-auto my-1 w-100 border-0"
    type="button"
    data-toggle="collapse"
  >
    <span class="fa fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed">
    <ul id="navLinks" class="navbar-nav mx-auto text-center">
      <li *ngFor="let link of links" class="nav-item">
        <a
          (focus)="$event.target.blur()"
          [routerLink]="[link.target]"
          routerLinkActive="active"
          class="nav-link"
        >
          {{link.name}}
        </a>
      </li>
      <li class="nav-item">
        <a
          id="logout"
          (focus)="$event.target.blur()"
          routerLink="/logout"
          class="nav-link"
        >
          Logout<i class="fa fa-sign-out pl-1"></i>
        </a>
      </li>

    </ul>
  </div>

</nav>
