<div class="container-fluid navbar-pad"></div>
<div class="container-fluid bg-primary fixed-bottom py-1">
  <div class="row">
    <div class="col-3 text-center px-1">
      <a routerLink="/order" routerLinkActive="active">
        <button type="button" class="btn btn-primary btn-block btn-sm">Order</button>
      </a>
    </div>
    <div class="col-3 text-center px-1">
      <a routerLink="/checkin" routerLinkActive="active">
        <button type="button" class="btn btn-primary btn-block btn-sm">Check-in</button>
      </a>
    </div>
    <div class="col-3 text-center px-1">
      <a routerLink="/balance" routerLinkActive="active">
        <button type="button" class="btn btn-primary btn-block btn-sm">Balance</button>
      </a>
    </div>
    <div class="col-3 text-center px-1">
      <a routerLink="/admin" routerLinkActive="active">
        <button type="button" class="btn btn-primary btn-block btn-sm">Admin</button>
      </a>
    </div>
  </div>
</div>
