@import 'node_modules/bootstrap/scss/bootstrap';
@import 'src/styles.scss';

.btn-product {
  @extend .btn;
  @extend .btn-block;
  @extend .h-100;
  @extend .p-0;
  overflow: hidden;
  &:not(.disabled):hover {
    background-color: #88bbbb !important;
  }
}

.btn-dummy {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.col-product {
  @extend .col-4;
  @extend .p-05;
  @extend .col-sm-2;
  min-height: 70px;
}

.col-product-range {
  @extend .col-product;
}

.col-product-order {
  @extend .col-product;
  @extend .col-md-4;
}

.container-grid {
  @extend .px-0;
  @extend .px-lg-1;
  @extend .mx-0;
  @extend .my-2;
  @extend .d-md-flex;
  @extend .flex-md-column;
}

.btn-grid-bar {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}
