@import 'node_modules/bootstrap/scss/bootstrap';
@import 'src/styles.scss';

.container-outer {
  @include media-breakpoint-down(sm) {
    // Manual measurement from both container-grids. Without this it will shrink more than its contents.
    min-height: 656px;
  }
  @include media-breakpoint-down(xs) {
    min-height: 760px;
  }
}

.row-grid-body {
  @extend .row;
  @extend .p-0;
  @extend .m-0;
  flex-grow: 1;
}

.btn-product {
  @extend .btn;
  @extend .btn-block;
  @extend .h-100;
  @extend .p-0;
  overflow: hidden;
  &:not(.disabled):hover {
    background-color: #88bbbb !important;
  }
}

.btn-dummy {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.col-product {
  @extend .col-6;
  @extend .p-05;
  @extend .col-sm-3;
  min-height: 50px;
}

.col-product-range {
  @extend .col-product;
}

.col-product-order {
  @extend .col-product;
  @extend .col-md-6;
}

.container-grid {
  @extend .p-1;
  @extend .m-0;
  @extend .d-flex;
  @extend .flex-column;
}

.container-grid-range {
  @extend .container-grid;
  @extend .col-md-8;
  flex-grow: 2;
}

.container-grid-order {
  @extend .container-grid;
  @extend .col-md-4;
  flex-grow: 1;
}

.btn-grid-row {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

.btn-grid-row-single {
  @extend .btn-grid-row;
  @extend .m-1;
}

.btn-grid-row-multi {
  @extend .btn-grid-row;
  @extend .m-0;
}

.product-name {
  @extend .font-weight-bold;
}

.product-price {
}

.product-quantity {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .bg-white;
  @extend .btn-sm;
  @extend .ml-1;
  @extend .py-0;
  @extend .px-1;
  pointer-events: none;
}

.message-wrap {
  top: 10px;
  right: 10px;
  z-index: 10000;
}

app-message {
  max-width: 600px;
  z-index: 10000;
}
