<div (window:resize)="onResize($event.target)" class="h-100 container-fluid d-sm-flex flex-sm-column p-0">
  <app-card-bar [fullscreen]="false"></app-card-bar>

  <div class="container-fluid row col-sm mx-0 px-1 d-sm-flex flex-sm-column">

    <div class="container-grid col-md-8 flex-grow-2">

      <div class="row mx-0 mb-1">
        <div class="col px-1">
          <div ngbDropdown>
            <button class="btn-grid-bar" ngbDropdownToggle>
              {{selectedRange ? selectedRange.name : 'Select product range'}}
            </button>
            <div class="dropdown-menu">
              <button *ngFor="let range of productRanges" (click)="setProductRange(range)" class="dropdown-item">
                {{range.name}}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm row p-0 m-0">
        <div *ngFor="let product of getPaginated(products, rangeProductsPerPage, rangePage)"
             class="col-product-range">
          <button (click)="rangeProductClicked(product)" type="button" class="btn-product"
                  [style.background-color]="product.category ? product.category.color : '#ffffff'"
                  [class.dark-bg]="product.category && isDarkBackground(product.category.color)">
            <div>{{product.name}}</div>
            <div>€{{product.price | number: '1.2-2'}}</div>
          </button>
        </div>
        <div
          *ngFor="let i of 1 | range : getNumPadItems(products.length, rangeProductsPerPage, rangePage)"
          class="col-product-range">
          <button type="button" class="btn-product btn-dummy disabled" disabled></button>
        </div>
        <div class="col-product-range">
          <button (click)="addCustomProduct()" type="button"
                  class="btn-product btn-outline-primary btn-product-custom">Custom
          </button>
        </div>
      </div>

      <div class="row justify-content-center mx-0 my-1">
        <ngb-pagination [collectionSize]="products.length" [(page)]="rangePage" [pageSize]="rangeProductsPerPage"
                        [maxSize]="pagesShown" [rotate]="true" [ellipses]="false"></ngb-pagination>
      </div>

      <div class="row m-0">
        <div class="col-12 px-1">
          <button (click)="refreshProducts()" type="button" class="btn-grid-bar" [disabled]="!selectedRange"
                  [class.disabled]="!selectedRange">
            <i class="fa fa-refresh fa-lg"></i></button>
        </div>
      </div>

    </div>


    <div class="container-grid col-md-4 flex-grow-1">

      <div class="row mx-0 mb-1">
        <div class="col px-1">
          <button disabled class="btn-grid-bar disabled">Current order: €{{total | number:
            '1.2-2'}}
          </button>
        </div>
      </div>

      <div class="row col-sm p-0 m-0">
        <div
          *ngFor="let productEntry of orderedProducts | iterable | slice:(orderProductsPerPage * (orderPage - 1)):(orderProductsPerPage * orderPage)"
          class="col-product-order">
          <button *ngIf="productEntry.key.id > -1" (click)="orderedProductClicked(productEntry.key)" type="button"
                  class="btn btn-block btn-product"
                  [style.background-color]="productEntry.key.category ? productEntry.key.category.color : '#ffffff'"
                  [class.dark-bg]="productEntry.key.category && isDarkBackground(productEntry.key.category.color)">
            <div>{{productEntry.key.name}}</div>
            <div>€{{productEntry.key.price | number: '1.2-2'}}</div>
            <div>x{{productEntry.value}}</div>
          </button>
          <button *ngIf="productEntry.key.id == -1" (click)="orderedProductClicked(productEntry.key)" type="button"
                  class="btn-product btn-outline-primary btn-product-custom">
            <div>Custom</div>
            <div>€{{productEntry.key.price | number: '1.2-2'}}</div>
          </button>
        </div>
        <div
          *ngFor="let i of 1 | range : getNumPadItems(orderedProducts.size, orderProductsPerPage, orderPage)"
          class="col-product-order">
          <button type="button" class="btn-product btn-dummy disabled" disabled></button>
        </div>
      </div>

      <div class="row justify-content-center mx-0 my-1">
        <ngb-pagination [collectionSize]="orderedProducts.size" [(page)]="orderPage"
                        [pageSize]="orderProductsPerPage" [maxSize]="pagesShown" [rotate]="true" [ellipses]="false">

        </ngb-pagination>
      </div>

      <div class="row m-0">
        <div class="col-6 px-1">
          <button (click)="clear()" type="button" class="btn-grid-bar"
                  [disabled]="this.waitingForOrder || this.orderedProducts.size == 0"
                  [class.disabled]="this.waitingForOrder || this.orderedProducts.size == 0">
            <i class="fa fa-trash fa-lg"></i>
          </button>
        </div>
        <div class="col-6 px-1">
          <button (click)="placeOrder()" type="button" class="btn-grid-bar"
                  [disabled]="this.waitingForOrder || this.orderedProducts.size == 0 || this.cardBar.state != this.cardBar.scanState.Valid"
                  [class.disabled]="this.waitingForOrder || this.orderedProducts.size == 0 || this.cardBar.state != this.cardBar.scanState.Valid">
            <i class="fa fa-shopping-cart fa-lg"></i>
            <i class="fa fa-long-arrow-right fa-lg"></i>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="message-wrap position-fixed w-100 px-3">
    <app-message class="text-center d-block mx-auto"></app-message>
  </div>

  <app-navbar></app-navbar>
</div>
